.filterItem {
    background-color: transparent;
    border: 1px solid #212121;
    border-radius: 8px;
    color: white;
    padding: 7px;
    margin-right: 8px;
    cursor: pointer;
    outline-style: none;
}

.filterItem_isActive {
    background-color: darkviolet;
}

.filterItem:hover {
    background-color: darkviolet;
}